@charset "utf-8";
/* CSS document */
/* ma première feuille de style externe */

/* des styles simples pour de fonds de couleur */

.fond_orange {
    background: orange;
}
.fond_rouge {
    background: #EF1314;
}
.fond_vert {
    background: greenyellow;
}
.fond_bleu {
    background: lightblue;
}
.fond_gris {
    background: lightgrey;
}

/* les styles de la page */

body {
    margin: auto; /* margin c'est la marge extérieure d'un élément */
    /* background-color:olivedrab; */
    background: linear-gradient( whitesmoke, #74A2C2);
    /* background: repeating-linear-gradient(red, yellow 10%, green 20%); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* l'emballage de toute la page */
#wrapper {
    width: 1200px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
/* le haut de page */
header  {
    /* background-image: url(../img/panorama.jpg)  center top no-repeat; */
    background: url(../img/panorama.jpg) center top no-repeat, linear-gradient(lightblue, whitesmoke);
    height: 370px;  /* hauteur de l'élément */
    /* border: 2px solid white; */
}

header h1 {
    background-color: white;
    text-transform: uppercase;
    width: 20%;
    text-align: center;
    margin-left: 10%;
}
header h1 a {
    text-decoration: none;
    color: #333;
}
header h1 a:hover {
    /* text-decoration: underline; */
    background-color: #333;
    color: white;

}

/* la côté de la page */
aside {
    /* largeur de l'élément */
    width: 280px;
    float: left;
    padding: 10px;
}
/* la navigation et les styles des liens */

nav  {
/* background: linear-gradient( black, yellow); */
}
/* les liens ne sont plus soulignés par défaut */
nav a {
    text-decoration: none;
}
/* les pseudos class */

/* quand le lien n'est pas visité */
nav a:link {
    color: orange;
}
/* quand le lien a été visité */
nav a:visited {
    color: lightseagreen;
}
/* au survol de la souris je mets un fond de couleur et je souligne les liens */
nav a:hover {
    color: white;
    /* background: orange; */
    text-decoration: underline;
}

nav ul li {
    list-style-type: none;
    /* list-style-image: url('../img/globe_fleche.png'); */
}
/* le contenu principal */
#main {
    background-color: orange;
    width: 880px;
    float: right;
    padding: 10px;
}
/* la classe pour tout remettre dans le flux normal */
.clear {
    clear: both;
}
/* le pied de page */
footer {
    height: 120px;
    /* border: 2px solid white; */
    margin-bottom: 10px;
}
/* le formulaire sur le CSS */
form {
    background: whitesmoke;
    padding: 10px;
    width: 80%;
}
fieldset{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid olivedrab;
    width: 80%;
}
legend {
    font-weight: 800;
    color: olive;
}
label {
    background-color: orange;
    color: white;
    margin-top: 20px;
    /* display: block permet d'aller à la ligne automatiquement */
    display: block;
    width: 300px;
}
label.inline {
    /* pour styler tous les labels qui ont la classe .inline */
    display:inline;
    margin-right: 50px;
}
input, textarea, select {
    /* pour styler plusieurs éléments et leur donner des attributs communs */
    border: 1px solid olivedrab;
    padding: 3px;
    margin-top: 10px;
}
select {
    margin-top: 5px;
}
/* le tableau */
table {
    border-collapse: collapse; /* fusionne les bordures stylées ci-après */
}
table, th, td, caption {
    border: 1px solid whitesmoke;
}
 th, td {
    padding: 10px;
 }
tr:hover {/* une pseudo-class :hover au passage du curseur*/
    background-color: yellowgreen;
}

caption, th, tfoot {
    text-align: left;
    background: #C05D46;
    color: whitesmoke;
    padding: 10px;
}
caption {caption-side:top;text-transform:uppercase;}
/* diférents styles de bordure */

.filetgauche {/* un filet à gauche du bloc */
    border-left: 3px solid blue;
}
.cartouche {/* un essai de bordure avec des coins arrondis */
    border: 2px solid orange;
    border-radius: 45px;
    padding: 20px;
    background: olive;
}
/* ici pour l'astuce au survol dans la page texte  */
#survol p {
    display: none;
    background-color: yellow;
    padding: 20px;
}

#survol:hover p {
    display: block;
}